<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

</body>
</html>
{% if employer %}
    <ul>
        <li><a href="{{ employer.get_absolute_url }}update">Update</a></li>
        <li>{{ employer.employer_name }}</li>
        <li>{{ employer.email }}</li>
        <li>{{ employer.phone_number }}</li>
        <li>{{ employer.plan.name }}</li>
    </ul>
{% else %}
    <p>No Employer.</p>
{% endif %}
<ul>
    <li><a href="{% url "employers:job_create" employer_pk=employer.pk %}">Create a jobs</a></li>
</ul>